@using InteliWeb2.Models.ViewModels
@model ServiciosViewModel

<a asp-controller="Sesion" asp-action="Close" class="btn btn-flotante btn-sm bg-success">Cerrar Sesion</a>

<div class="form">
<form asp-action="Create" asp-route-i="@ViewBag.i" asp-route-r="@ViewBag.r">
    <div class="modal-dialog mb-3 mt-3">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Registrar Nuevo Servicio</h2>
            </div>
            <div class="container table-responsive">
                <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating form-group mb-3 mt-3">
                    <input asp-for="NameServ" class="form-control"/>
                    <label asp-for="NameServ" class="control-label"></label>
                    <span asp-validation-for="NameServ" class="text-danger"></span>
                </div>

                <div class="form-floating form-group mb-3 mt-3">
                    <input asp-for="PrecioServ" class="form-control"/>
                    <label asp-for="PrecioServ" class="control-label"></label>
                    <span asp-validation-for="PrecioServ" class="text-danger"></span>
                </div>

                <div class="form-floating form-group mb-3 mt-3">
                    <input asp-for="UbiServ" class="form-control" />
                    <label asp-for="UbiServ" class="control-label"></label>
                    <span asp-validation-for="UbiServ" class="text-danger"></span>
                </div>

                <div class="form-floating form-group mb-3 mt-3">
                    <input asp-for="FecRealizar" class="form-control" type="date"/>
                    <label asp-for="FecRealizar" class="control-label"></label>
                </div>

                <div class="form-floating form-group mb-3 mt-3">
                    <input asp-for="FecTerm" class="form-control" type="date"/>
                    <label asp-for="FecTerm" class="control-label"></label>
                </div>

                <div class="form-floating form-group mb-3 mt-3">
                    <select asp-for="IdTipoServ" class="form-control" asp-items="ViewBag.TipoServ"></select>
                    <label asp-for="IdTipoServ" class="control-label"></label>
                    <span asp-validation-for="IdTipoServ" class="text-danger"></span>
                </div>

                <div class="form-floating form-group mb-3 mt-3">
                    <select asp-for="idUser" class="form-control" asp-items="ViewBag.Usuario"></select>
                    <label asp-for="idUser" class="control-label"></label>
                    <span asp-validation-for="idUser" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">Ingresar</button>
                <a type="button" class="btn btn-danger btn-sm" asp-controller="Servicios" asp-action="Index" asp-route-Id="@ViewContext.RouteData.Values["Id"]" asp-route-r="@ViewBag.r" asp-route-i="@ViewBag.i">Cancelar</a>
            </div>
        </div>
    </div>
</form>
</div>

<script type="text/javascript">
    window.history.forward();
</script>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}