@using InteliWeb2.Models.ViewModels
@model List<Reporte>

<a asp-controller="Sesion" asp-action="Close" class="btn btn-flotante btn-sm bg-success">Cerrar Sesion</a>

<section style="background-color: #eee;">
    <div class="container d-block div-ttl">
        <h1 class="align-center">Usuarios</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        @if ((ViewBag.r == 2) || (ViewBag.r == 1))
                        {
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm dropdown-toggle" id="accionesDropdown" data-bs-toggle="dropdown">Usuarios</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-i="@ViewBag.i">Home</a></li>
                                    <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Index" asp-route-i="@ViewBag.i" asp-route-r="@ViewBag.r">Usuarios</a></li>
                                    <li><a class="dropdown-item" asp-controller="Contactos" asp-action="Index" asp-route-i="@ViewBag.i" asp-route-r="@ViewBag.r">Contactos</a></li>
                                    <li><a class="dropdown-item" asp-controller="RolUsuarios" asp-action="Index" asp-route-i="@ViewBag.i" asp-route-r="@ViewBag.r">Roles de usuario</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm dropdown-toggle" id="accionesDropdown" data-bs-toggle="dropdown">Servicios</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Servicios" asp-action="Index" asp-route-i="@ViewBag.i" asp-route-r="@ViewBag.r">Servicios</a></li>
                                    <li><a class="dropdown-item" asp-controller="TipoServicios" asp-action="Index" asp-route-i="@ViewBag.i" asp-route-r="@ViewBag.r">Tipo de servicios</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm dropdown-toggle" id="accionesDropdown" data-bs-toggle="dropdown">Publicaciones y Archivos</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Archivo" asp-action="Index" asp-route-i="@ViewBag.i" asp-route-r="@ViewBag.r">Todos los Archivos</a></li>
                                    <li><a class="dropdown-item" asp-controller="TipoArchivos" asp-action="Index" asp-route-i="@ViewBag.i" asp-route-r="@ViewBag.r">Tipo de archivos</a></li>
                                    <li><a class="dropdown-item" asp-controller="Publicaciones" asp-action="Index" asp-route-i="@ViewBag.i" asp-route-r="@ViewBag.r">Todas las Publicaciones</a></li>
                                    <li><a class="dropdown-item" asp-controller="SeccionPublicaciones" asp-action="Index" asp-route-i="@ViewBag.i" asp-route-r="@ViewBag.r">Secciones de Publicaciones</a></li>
                                    <li><a class="dropdown-item" asp-controller="TipoPublicaciones" asp-action="Index" asp-route-i="@ViewBag.i" asp-route-r="@ViewBag.r">Tipos de Publicaciones</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm dropdown-toggle" id="accionesDropdown" data-bs-toggle="dropdown">Contrataciones</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Contrataciones" asp-action="Index" asp-route-i="@ViewBag.i" asp-route-r="@ViewBag.r">Todas las Contrataciones</a></li>
                                    <li><a class="dropdown-item" asp-controller="EstadoContrataciones" asp-action="Index" asp-route-i="@ViewBag.i" asp-route-r="@ViewBag.r">Estados de contratacion</a></li>
                                </ul>
                            </div>
                            <li><a class="btn btn-sm" asp-controller="Sesion" asp-action="Index" asp-route-i="@ViewBag.i" asp-route-r="@ViewBag.r">Perfil</a></li>

                        }
                    </ol>
                </nav>
            </div>
        </div>
    </div>
<p>
    <button type="button" class="btn btn-primary mt-2 btn-sm" data-bs-toggle="modal" data-bs-target="#myModal">Enviar</button>
    <a type="button" class="btn btn-primary mt-2 btn-sm" asp-action="Create" asp-route-Id="@ViewContext.RouteData.Values["Id"]" asp-route-r="@ViewBag.r" asp-route-i="@ViewBag.i">Agregar Nuevo Reporte</a>
</p>

<div class="container table-responsive">
    <table class="table table-striped table-hover table-bordered table-sm">
        <thead class="table-dark">
            <tr>
                <th class="text text-center align-middle">Codigo Reportes</th>
                <th class="text text-center align-middle">Reporte</th>
                <th class="text text-center align-middle">Prueba del Reporte</th>
                <th class="text text-center align-middle">Prueba de la Solucion</th>
                <th class="text text-center align-middle">Comentario Solucion</th>
                <th class="text text-center align-middle">Fecha de Reporte</th>
                <th class="text text-center align-middle">Tipo de Reporte</th>
                <th class="text text-center align-middle">Usuario</th>
                <th class="text text-center align-middle">Estado de Reporte</th>
                <th class="text text-center align-middle">Servicio Reportado</th>
                <th class="text text-center align-middle">Actualizar</th>
                <th class="text text-center align-middle">ELiminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reporte in Model)
            {
                <tr>
                    <td class="text text-center align-middle">@Html.DisplayFor(r=>reporte.IdReporte)</td>
                    <td class="text text-center align-middle">@Html.DisplayFor(r=>reporte.Reporte1)</td>
                    <td class="text text-center align-middle">@Html.DisplayFor(r=>reporte.PruebaReporte)</td>
                    <td class="text text-center align-middle">@Html.DisplayFor(r=>reporte.PruebaSolucion)</td>
                    <td class="text text-center align-middle">@Html.DisplayFor(r=>reporte.ComentariosSolucion)</td>
                    <td class="text text-center align-middle">@Html.DisplayFor(r=>reporte.FechaReporte)</td>
                    <td class="text text-center align-middle">@Html.DisplayFor(r=>reporte.IdTipoReporteNavigation.TipoReporte1)</td>
                    <td class="text text-center align-middle"><a asp-controller="Usuarios" asp-action="Index" asp-route-id="@Html.DisplayFor(r=>reporte.IdUsuario)">@Html.DisplayFor(r=>reporte.IdUsuarioNavigation.NombreUsuario)</a></td>
                    <td class="text text-center align-middle">@Html.DisplayFor(r=>reporte.IdEstadoReporteNavigation.EstadoReporte1)</td>
                    <td class="text text-center align-middle">@Html.DisplayFor(r=>reporte.IdServicioNavigation.NombreServicio)</td>
                    <td class="text text-center align-middle"><a asp-action="Update" asp-route-r="@ViewBag.r" asp-route-i="@ViewBag.i" asp-route-id="@reporte.IdReporte" type="button" class="btn btn-primary btn-sm">Actualizar</a></td>
                    <td class="text text-center align-middle"><a asp-action="Delete" asp-route-r="@ViewBag.r" asp-route-i="@ViewBag.i" asp-route-id="@reporte.IdReporte" type="button" class="btn btn-danger btn-sm">Eliminar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
</section>

<script type="text/javascript">
    window.history.forward();
</script>