@using InteliWeb2.Models.ViewModels;
@model List<Usuario>

<a asp-controller="Sesion" asp-action="Close" class="btn btn-flotante btn-sm bg-success">Cerrar Sesion</a>

@foreach(var user in Model)
{
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                            @if((user.IdRolUsuario == 2) || (user.IdRolUsuario == 1))
                                {
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm dropdown-toggle" id="accionesDropdown" data-bs-toggle="dropdown">Usuarios</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-i="@user.IdUsuario">Home</a></li>
                                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Index" asp-route-i="@user.IdUsuario" asp-route-r="@user.IdRolUsuario">Usuarios</a></li>
                                            <li><a class="dropdown-item" asp-controller="Contactos" asp-action="Index" asp-route-i="@user.IdUsuario" asp-route-r="@user.IdRolUsuario">Contactos</a></li>
                                            <li><a class="dropdown-item" asp-controller="RolUsuarios" asp-action="Index" asp-route-i="@user.IdUsuario" asp-route-r="@user.IdRolUsuario">Roles de usuario</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm dropdown-toggle" id="accionesDropdown" data-bs-toggle="dropdown">Servicios</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="Servicios" asp-action="Index" asp-route-i="@user.IdUsuario" asp-route-r="@user.IdRolUsuario">Servicios</a></li>
                                            <li><a class="dropdown-item" asp-controller="TipoServicios" asp-action="Index" asp-route-i="@user.IdUsuario" asp-route-r="@user.IdRolUsuario">Tipo de servicios</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm dropdown-toggle" id="accionesDropdown" data-bs-toggle="dropdown">Publicaciones y Archivos</button>
                                        <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="Archivo" asp-action="Index" asp-route-i="@user.IdUsuario" asp-route-r="@user.IdRolUsuario">Todos los Archivos</a></li>
                                            <li><a class="dropdown-item" asp-controller="TipoArchivos" asp-action="Index" asp-route-i="@user.IdUsuario" asp-route-r="@user.IdRolUsuario">Tipo de archivos</a></li>
                                            <li><a class="dropdown-item" asp-controller="Publicaciones" asp-action="Index" asp-route-i="@user.IdUsuario" asp-route-r="@user.IdRolUsuario">Todas las Publicaciones</a></li>
                                            <li><a class="dropdown-item" asp-controller="SeccionPublicaciones" asp-action="Index" asp-route-i="@user.IdUsuario" asp-route-r="@user.IdRolUsuario">Secciones de Publicaciones</a></li>
                                            <li><a class="dropdown-item" asp-controller="TipoPublicaciones" asp-action="Index" asp-route-i="@user.IdUsuario" asp-route-r="@user.IdRolUsuario">Tipos de Publicaciones</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm dropdown-toggle" id="accionesDropdown" data-bs-toggle="dropdown">Contrataciones</button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" asp-controller="Contrataciones" asp-action="Index" asp-route-i="@user.IdUsuario" asp-route-r="@user.IdRolUsuario">Todas las Contrataciones</a></li>
                                            <li><a class="dropdown-item" asp-controller="EstadoContrataciones" asp-action="Index" asp-route-i="@user.IdUsuario" asp-route-r="@user.IdRolUsuario">Estados de contratacion</a></li>
                                        </ul>
                                    </div>
                                <li><a class="btn btn-sm" asp-controller="Sesion" asp-action="Index" asp-route-i="@user.IdUsuario" asp-route-r="@user.IdRolUsuario">Perfil</a></li>

                                }
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@String.Format("{0} {1}",user.NombreUsuario, user.ApPatUsuario)</h5>
                        <p class="text-muted mb-1">@String.Format("{0}",user.IdRolUsuarioNavigation.RolUsuario1)</p>
                        <p class="text-muted mb-4">@String.Format("{0}",user.EmpresaUsuario)</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Follow</button>
                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                        </div>
                    </div>
                </div>
@*                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <p class="mb-0">https://mdbootstrap.com</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                <p class="mb-0">mdbootstrap</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                <p class="mb-0">twitter</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                <p class="mb-0">mdbootstrap</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                <p class="mb-0">mdbootstrap</p>
                            </li>
                        </ul>
                    </div>
                </div>*@
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Nombre Completo:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@String.Format("{0} {1} {2}",user.NombreUsuario,user.ApPatUsuario,user.ApMatUsuario)</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Correo:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@String.Format("{0}",user.CorreUsuario)</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Telefono</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@String.Format("{0}",user.TelefonoUsuario)</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Contactos Extra</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"><a asp-controller="Contactos" asp-action="Index" asp-route-Id="@user.IdUsuario" type="button" class="btn btn-secondary btn-sm">Ver contactos</a></p>
                            </div>
                        </div>
@*                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Ubicación</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"></p>
                            </div>
                        </div>*@
                    </div>
                </div>
@*                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4">
                                    <span class="text-primary font-italic me-1">assigment</span> Project Status
                                </p>
                                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                <div class="progress rounded mb-2" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4">
                                    <span class="text-primary font-italic me-1">assigment</span> Project Status
                                </p>
                                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                <div class="progress rounded mb-2" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</section>
}

<script type="text/javascript">
    window.history.forward();
</script>