@using InteliWeb2.Models.ViewModels
@model UsuariosViewModel

@if((ViewBag.r == 1) || (ViewBag.r == 2)){
    <a asp-controller="Sesion" asp-action="Close" class="btn btn-flotante btn-sm bg-success">Cerrar Sesion</a>
}

<div class="form">
    <form asp-action="Create" asp-route-i="@ViewBag.i" asp-route-r="@ViewBag.r">
    <div class="modal-dialog mb-3 mt-3">
        <div class="modal-content">
            <div class="modal-header">
                    @if ((ViewBag.r == 1) || (ViewBag.r == 2))
                    {
                        <h2>Registrar un Nuevo Usuario</h2>
                    }else{
                        <h2>Registrarme</h2>
                    }
                </div>
            <div class="container table-responsive">
                <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating form-group mb-3 mt-3">
                    <input asp-for="Name" class="form-control"/>
                    <label asp-for="Name" class="control-label"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-floating form-group mb-3 mt-3">
                    <input asp-for="ApName" class="form-control"/>
                    <label asp-for="ApName" class="control-label"></label>
                    <span asp-validation-for="ApName" class="text-danger"></span>
                </div>
                <div class="form-floating form-group mb-3 mt-3">
                    <input asp-for="AmName" class="form-control" />
                        <label asp-for="AmName" class="control-label"></label>
                    <span asp-validation-for="AmName" class="text-danger"></span>
                </div>

                <div class="form-floating form-group mb-3 mt-3">
                    <input asp-for="Email" class="form-control" />
                    <label asp-for="Email" class="control-label"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-floating form-group mb-3 mt-3">
                    <input asp-for="Phone" class="form-control" />
                    <label asp-for="Phone" class="control-label"></label>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                 </div>

                <div class="form-floating form-group mb-3 mt-3">
                    <input asp-for="Password" class="form-control" />
                    <label asp-for="Password" class="control-label"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-floating form-group mb-3 mt-3">
                    <input asp-for="Empresa" class="form-control" />
                    <label asp-for="Empresa" class="control-label"></label>
                    <span asp-validation-for="Empresa" class="text-danger"></span>
                </div>
                @if((ViewBag.r == 1) || (ViewBag.r == 2)){
                        <div class="form-floating form-group mb-3 mt-3">
                            <select asp-for="IdRol" class="form-control" asp-items="@ViewBag.RolUsuario"></select>
                            <label asp-for="IdRol" class="control-label"></label>
                            <span asp-validation-for="IdRol" class="text-danger"></span>
                        </div>
                }

            </div>
            <div class="form-group modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">Ingresar</button>
                    @if ((ViewBag.r == 1) || (ViewBag.r == 2))
                    {
                        <a type="button" class="btn btn-danger btn-sm" asp-controller="Usuario" asp-action="Index" asp-route-Id="@ViewContext.RouteData.Values["Id"]" asp-route-r="@ViewBag.r" asp-route-i="@ViewBag.i">Cancelar</a>
                    }else{
                        <a type="button" class="btn btn-danger btn-sm" asp-controller="Sesion" asp-action="Login">Cancelar</a>
                    }
            </div>
        </div>
    </div>
</form>
</div>

@if(ViewBag.CompCorreo != null)
{
    <script type="text/javascript">
        alert("@ViewBag.CompCorreo");
    </script>
}

<script type="text/javascript">
    window.history.forward();
</script>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}